/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Custom styles for login and register page */

.bg-lightgray {
  background-color: #F9F9F9; /* Light gray background for form pages */
}


.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
}

.card-header {
  text-align: center;
  color: #3A59D1; /* Primary color */
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input-field {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: #3D90D7; /* Focus color for input fields */
}

.btn-primary {
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.1rem;
}


.text-center {
  text-align: center;
}

.text-secondary {
  color: #3D90D7; /* Secondary color for text */
}

.text-accent {
  color: #7AC6D2; /* Accent color for links or small text */
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}
